{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="card card-width-userform mb-4">
        <div class="card-header">
            <h6>{{ action }}</h6>
        </div>
        <div class="card-body">
            <form method="post" class="form-horizontal">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}

                {% block priority_fields %}
                {% endblock %}

                <!-- Each form group is a row, with labels and inputs as columns -->
                <div class="form-group row mb-3">
                    {{ form.code.label(class="col-sm-6 col-form-label fs-14") }}
                    <div class="col-sm-6">
                        {{ form.code(class="form-control fs-12") }}
            
                    </div>
                </div>

                <div class="form-group row mb-3">
                    {{ form.name.label(class="col-sm-6 col-form-label fs-14") }}
                    <div class="col-sm-6">
                        {{ form.name(class="form-control fs-12") }}
            
                    </div>
                </div>

                <div class="form-group row mb-3">
                    {{ form.description.label(class="col-sm-6 col-form-label fs-14") }}
                    <div class="col-sm-6">
                        {{ form.description(class="form-control fs-12") }}
            
                    </div>
                </div>


                <div class="form-group row mb-3">
                    {{ form.price_per_unit.label(class="col-sm-6 col-form-label fs-14") }}
                    <div class="col-sm-6">
                        {{ form.price_per_unit(class="form-control fs-12") }}
                    </div>
                </div>

                <div class="form-group row mb-3">
                    {{ form.units_in_stock.label(class="col-sm-6 col-form-label fs-14") }}
                    <div class="col-sm-6">
                        {{ form.units_in_stock(class="form-control fs-12") }}
                    </div>
                </div>

                <div class="form-group row mb-4">
                    {{ form.vendor_id.label(class="col-sm-6 col-form-label fs-14") }}
                    <div class="col-sm-6">
                        {{ form.vendor_id(class="form-control fs-12") }}
                    </div>
                </div>

                <div class="form-group row mb-4">
                    {{ form.status.label(class="col-sm-6 col-form-label fs-14") }}
                    <div class="col-sm-6">
                        {{ form.status(class="form-control fs-12") }}
                    </div>
                </div>

                {% block item_additional_fields %}

                {% endblock %}


                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="d-flex justify-content-start">
                            <button type="button" class="btn btn-sm btn-light mt-2" onclick="confirmCancel('{{ url_for('stock.view_items') }}')">Cancel</button>


                            {% block item_additional_buttons %}
                            
                                <!-- Additional buttons will be defined in child templates -->
                            {% endblock %}
<!--                             <button type="submit" class="btn btn-sm btn-primary mt-2 ms-2" name="submit" value="save">{{ action }}</button> -->
                            <button type="submit" class="btn btn-sm btn-primary mt-2 ms-2" name="submit" value="save" onclick="return confirmSubmitChanges()">{{ submit_button_text }}</button>

                        </div>
                    </div>
                </div>


                {% block itemform_scripts %}
                <script src="{{ url_for('static', filename='form_utils.js') }}"></script>
                {% endblock %}        

                {% block additional_scripts %}

                {% endblock %}
                
            </form>
        </div>
    </div>
</div>
{% endblock %}

