{% extends "base.html" %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h6>View/Edit Items</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-light table-sm table-hover table-striped">
                <thead class="custom-table-header">
                    <tr>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Price per Unit</th>
                        <th>Quantity</th>
                        <th>Units Purchased</th>
                        <th>Vendor</th>
                        <th>Status</th>
                        {% if current_user.is_operator() %}
                            <th>Requires Sync</th>
                            <th>Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr class="custom-table-row" {% if current_user.is_operator() %} ondblclick="window.location='{{ url_for('stock.edit_item', item_id=item.id) }}'" {% endif %}>
                        <td>{{ item.code }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.price_per_unit }}</td>
                        <td>{{ item.units_in_stock }}</td>
                        <td>{{ item.units_purchased }}</td>
                        <td>{{ item.vendor.name }}</td>
                        <td>{{ item.status.value }}</td>
                        {% if current_user.is_operator() %}
                            <td>{{ 'Yes' if item.requires_sync else 'No' }}</td>
                            <td>
                                <a href="{{ url_for('stock.edit_item', item_id=item.id) }}" class="btn btn-sm btn-link">Edit</a>
                            </td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Pagination controls -->
        {% if pagination %}
        <nav>
            <ul class="pagination pagination-sm">
                {% for page in pagination.iter_pages() %}
                    {% if page %}
                        <li class="page-item{% if page == pagination.page %} active{% endif %}">
                            <a class="page-link" href="{{ url_for('stock.view_items', page=page) }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">…</span></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block additional_scripts %}
{% if item_deleted %}
<script>
    alert("Item deleted successfully.");
</script>
{% endif %}
{% endblock %}
