{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h6>Purchase History</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-light table-sm table-hover table-striped">

                <thead class="custom-table-header">
                    <tr>
                        <th>Purchase Id</th>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Vendor</th>
                        <th>Price/Unit</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Purchase Time</th>
                        <th>Received from Store</th>
                    </tr>
                </thead>
                <tbody>
                    {% for purchase in all_purchases %}
                    <tr class="custom-table-row">
                        <td>{{ purchase.purchase_code }}
                        <td>{{ purchase.item_code }}</td>
                        <td>{{ purchase.item_name }}</td>
                        <td>{{ purchase.vendor_name }}</td>
                        <td>{{ purchase.price_per_unit }}</td>
                        <td>{{ purchase.quantity }}</td>
                        <td>{{ '%.2f'|format(purchase.total_price) }}</td>
                        <td>{{ purchase.purchase_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>{{ purchase.load_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Pagination controls -->
        {% if pagination %}
        <nav>
            <ul class="pagination pagination-sm custom-pagination">
                {% for page in pagination.iter_pages() %}
                    {% if page %}
                        <li class="page-item{% if page == pagination.page %} active{% endif %}">
                            <a class="page-link" href="{{ url_for('stock.view_purchase_data', page=page) }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">…</span></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
{% endblock %}
